In [1]:
import pandas as pd

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [6]:
df_init = pd.read_excel('../../data/jester-dataset/jester-data-3.xls',encoding='utf-8',header=None)

In [7]:
df_init.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,26,99.0,99.00,99.0,99.0,-1.65,99.0,-0.78,6.89,99.0,...,99.0,99.0,99.00,99.0,99.00,99.0,99.0,99.0,99.00,99.0
1,33,99.0,99.00,99.0,99.0,-9.27,99.0,-9.17,-8.59,99.0,...,99.0,99.0,-2.77,99.0,99.00,99.0,99.0,99.0,99.00,99.0
2,16,99.0,99.00,99.0,99.0,-6.12,99.0,-7.48,-7.77,99.0,...,99.0,99.0,99.00,99.0,99.00,99.0,99.0,99.0,99.00,99.0
3,24,99.0,0.05,99.0,99.0,-2.82,99.0,-4.85,-0.87,99.0,...,99.0,99.0,99.00,99.0,1.84,99.0,99.0,99.0,-4.08,99.0
4,22,99.0,99.00,99.0,99.0,-4.95,99.0,6.21,2.72,99.0,...,99.0,99.0,99.00,99.0,99.00,99.0,99.0,99.0,99.00,99.0

In [10]:
df_init.describe()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
count,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,...,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000,24938.000000
mean,24.737830,98.747141,98.455640,98.980453,98.988311,0.212462,98.946699,-0.931986,-1.611604,98.995958,...,91.310731,91.496339,91.195998,91.319101,91.196468,91.459926,91.250272,91.636012,91.131253,98.984216
std,5.705108,4.953544,7.282975,1.381970,1.065835,5.661913,2.252160,6.058908,5.176383,0.638307,...,26.460511,26.222218,26.554905,26.545189,26.686493,26.271002,26.620218,25.965601,26.925161,1.249496
min,15.000000,-9.660000,-9.810000,-3.980000,0.580000,-9.950000,-8.250000,-9.950000,-9.950000,-1.800000,...,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-8.790000
25%,20.000000,99.000000,99.000000,99.000000,99.000000,-4.270000,99.000000,-6.410000,-6.120000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
50%,24.000000,99.000000,99.000000,99.000000,99.000000,0.830000,99.000000,-0.580000,-1.600000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
75%,30.000000,99.000000,99.000000,99.000000,99.000000,4.470000,99.000000,3.690000,2.180000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
max,35.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

In [16]:
X = df_init.drop([2],axis=1)

In [15]:
y = df_init[2]

In [22]:
from sklearn import neighbors
from sklearn.cross_validation import KFold
from sklearn.metrics import mean_squared_error

In [24]:
def k_fold_regression(regressor, data, labels, n_folds=5):
    k_fold = KFold(n=data.shape[0], n_folds=n_folds)
    scores = []
    for train_indices, test_indices in k_fold:

        train_text = data[train_indices]
        train_y = labels[train_indices]

        test_text = data[test_indices]
        test_y = labels[test_indices]

        regressor.fit(train_text, train_y)
        predictions = regressor.predict(test_text)
        score = mean_squared_error(test_y,predictions)
        scores.append(score)


    print'MSE:', sum(scores)/len(scores)

In [25]:
clf = neighbors.KNeighborsRegressor(1)
k_fold_regression(clf,X.values,y)

MSE: 56.6986458528

In [26]:
for k in range(1,4):
    clf = neighbors.KNeighborsRegressor(k,metric='euclidean')
    k_fold_regression(clf,X.values,y)

MSE: 56.6986458528
MSE: 49.381253282
MSE: 47.9595342858